{% extends "base.html" %}

{% block "title" %}Mano tinklaraštis: Straipsnis{% endblock %}

{% block "content" %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.user }}</a>
            <small class="text-muted">{{ post.created|date:"Y-m-d, f" }}</small>
            <h2><a class="article-title">{{ post.title }}</a></h2>
            {% if post.user == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' post.id %}">Redaguoti</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' post.id %}">Ištrinti</a>
            </div>
            {% endif %}
            <p class="article-content">{{ post.content|safe }}</p>
            <a>Komentarų: {{ post.num_comments }}</a>
        </div>
        <hr>
        {% if user.is_authenticated %}
        <div class="fieldWrapper">
            <br/>
            <h4>Palikite komentarą:</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.content }}</br>
                <input type="submit" value="Komentuoti">
            </form>
        </div>
        {% endif %}
        <h4>Komentarai:</h4>
        {% for comment in post.comments.all %}
        <small class="text-muted">{{ comment.user }}, {{ comment.created|date:"Y-m-d, f" }}</small>
        <p>{{ comment.content|safe }}</p>
            {% if comment.user == user %}
            <div>
                <a class="btn btn-secondary btn-sm mb-2" href="{% url 'post_edit' post.id comment.id %}">Redaguoti</a>
                <a class="btn btn-danger btn-sm mb-2" href="{% url 'post_delete' post.id comment.id %}">Ištrinti</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</article>

{% endblock %}